* {
    box-sizing: border-box;
  }
  
  body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
  }
  
  .qr-container img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  strong {
    color: hsl(218, 44%, 22%);
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
  }
  
  p {
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  
  @media (min-width: 376px) {
    .container {
      width: 19%;
      min-width: 275px;
    }
  }